<%- include('../include/header') %>

<div class="container">
    <%- include('../include/partials/spinner') %>

    <div class="my-stats">
        <table>
            <thead>
                <tr>
                    <th>Game ID</th>
                    <th>Timer</th>
                    <th>My Pieces</th>
                    <th>Started At</th>
                    <th>Completed At</th>
                    <th>Game Won</th>
                    <th>Moves</th>
                </tr>
            </thead>

            <tbody id="played-games"></tbody>
        </table>
    </div>
</div>

<%- include('../include/partials/chat') %>

<script src="/socket.io/socket.io.js"></script>
<script src="js/spinner.js"></script>
<script src="js/index.js"></script>
<script src="js/stats.js"></script>
<script src="js/chat.js"></script>

<%- include('../include/footer') %>