<button class="chat-container open-chat" id="open-chat">
    <img src="/assets/icons/chat.svg" alt="Chat">
</button>

<div class="chat-container chat" id="chat">
    <ul class="messages" id="messages"></ul>

    <form class="chat-form" id="chat-form">
        <input type="text" id="message-input"> <button>SEND</button>
    </form>

    <span class="close-chat" id="close-chat">&#x2715;</span>
</div>