<nav>
    <a href="/" class="nav-brand">OnlineChess <img src="/assets/chess-icons/chess-pawn-solid.svg" alt="Chess Pawn"></a>

    <ul class="nav">
        <% if(authorized){ %>
            <li class="nav-link">
                <a href="/games">Play Game</a>
            </li>
    
            <li class="nav-link">
                <a href="/my-stats">My Stats</a>
            </li>

            <li class="nav-link">
                <a href="/profile">Profile</a>
            </li>
        <% } else { %>
            <li class="nav-link">
                <a href="/register">Register</a>
            </li>
    
            <li class="nav-link">
                <a href="/login">Login</a>
            </li>
        <% } %>
    </ul>
</nav>